@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: 25 123 189;
  --color-secondary: 111 114 185;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body { min-height: 100vh; }
body {
  @apply  bg-auto bg-repeat bg-[url('/white-min.jpg')] bg-sky-100;
  font-family: Arial, Helvetica, sans-serif;
  background-size: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.Editor{
  @apply px-1 shadow-md bg-gradient-to-br from-white to-blue-100 rounded-xl ;
}

.Editor h1{
  @apply text-4xl text-primaly;
}

.Editor h2{
  @apply text-3xl text-primaly;
}

.Editor h3{
  @apply text-2xl text-primaly;
}

.Editor h4{
  @apply text-xl text-primaly;
}

.Editor h5{
  @apply text-lg text-primaly;
}

.Editor h6{
  @apply text-base text-primaly;
}

.Editor p{
  @apply text-base text-primaly;
}

.Editor img{
  @apply rounded-md;
}

.Editor blockquote{
  @apply italic text-2xl text-primaly;
}

.auth {
  @apply flex flex-col p-4  items-center justify-center border border-slate-500 rounded-md;
}

.auth input {
  @apply bg-gray-50  border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.auth button {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}

/* Glitch effect */
/* From Uiverse.io by andrew-demchenk0 */ 
.glitch {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
  letter-spacing: 5px;
  z-index: 1;
  animation: shift 1s ease-in-out infinite alternate;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #0000ff;
  z-index: -1;
}

.glitch:after {
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  color: #ff0000;
  z-index: -2;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-3px, 3px);
  }

  40% {
    transform: translate(-3px, -3px);
  }

  60% {
    transform: translate(3px, 3px);
  }

  80% {
    transform: translate(3px, -3px);
  }

  to {
    transform: translate(0);
  }
}

@keyframes shift {
  0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
    transform: skewX(0deg);
  }

  41% {
    transform: skewX(10deg);
  }

  42% {
    transform: skewX(-10deg);
  }

  59% {
    transform: skewX(40deg) skewY(10deg);
  }

  60% {
    transform: skewX(-40deg) skewY(-10deg);
  }

  63% {
    transform: skewX(10deg) skewY(-5deg);
  }

  70% {
    transform: skewX(-50deg) skewY(-20deg);
  }

  71% {
    transform: skewX(10deg) skewY(-10deg);
  }
}
